*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: var(--f-p);
    font-family: var(--f-opensans);
    font-weight: var(--f-reg);
    line-height: 1.5;
}

h1, h2, h3 {
    margin: 0;
    font-family: var(--f-raleway);
    font-weight: var(--f-bold);
}

p {
    margin: 0;
}

a, a:hover {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}